@page "/"

<PageTitle>Wedding</PageTitle>

<style>
    body {
        overflow: hidden;
    }
    nav {
        background-color: transparent !important;
    }
</style>

<div class="absolute w-screen overflow-hidden h-screen-nav top-28">
    <div class="absolute top-0 left-0 w-screen mx-auto overflow-x-hidden scale-x-110 bg-top bg-no-repeat bg-cover -z-10 blur-lg h-screen-nav bg-hero"></div>
    <div class="container z-10 mx-auto bg-top bg-no-repeat bg-cover h-screen-nav bg-hero"></div>
</div>
